body {
	text-align: center;
	background-image: url("../images/background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 80%;
	padding-top: 20px;
	margin: 15%;
}

h1 {
	font-family: 'Bangers';
	font-size: 95px;
}

p {
	font-family: 'Bangers', cursive;
	font-size: 35px;
}

.general {
	display: inline;
	width: 80%;
}

#actorImage {
	position: relative;
	width: 30%;
	margin: 5% auto;
}



/* MEDIA QUERIES */

@media screen and (max-width: 980px) {

	h1 {
		font-family: 'Bangers', cursive;
		font-size: 85px;
	}

	p {
		font-family: 'Bangers', cursive;
		font-size: 25px;
	}

}



@media screen and (max-width: 768px) {

	h1 {
		font-family: 'Bangers', cursive;
		font-size: 70px;
	}

	p {
		font-family: 'Bangers', cursive;
		font-size: 20px;
	}
	
}



@media screen and (max-width: 640px) {

	h1 {
		font-family: 'Bangers', cursive;
		font-size: 65px;
	}

	p {
		font-family: 'Bangers', cursive;
		font-size: 15px;
	}
	
}
